* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
}

.button {
  width: 104px;
  height: 42px;
  padding: 13px 22px;
  border-radius: 15px;
  background-color: #FAFAFA;
  border: 1px solid #686868;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-style: normal;
  color: #686868;
}
.button:hover {
  border: 1.5px solid #151515;
}
.button:active {
  transform: scale(0.95);
}
@media (max-width: 767px) {
  .button {
    width: 100px;
    height: 38px;
  }
}
.button.button--black {
  width: 163px;
  height: 56px;
  background-color: #151515;
  color: #FAFAFA;
}
.button.button--black:hover {
  border: 1px solid #151515;
  background-color: transparent;
  color: #151515;
}

.nabvar {
  width: 100vw;
  height: auto;
  padding: 21px 40px 21px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nabvar .navbar__routing {
  width: 44%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .nabvar .navbar__routing {
    width: 60%;
  }
}
.nabvar .navbar__routing .navbar__items {
  width: 75%;
}
.nabvar .navbar__routing .navbar__items .items {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-style: normal;
  color: #686868;
}
.nabvar .navbar__routing .navbar__items .items .item {
  position: relative;
  cursor: pointer;
}
.nabvar .navbar__routing .navbar__items .items .item:hover {
  color: #151515;
}
.nabvar .navbar__routing .navbar__items .items .item img {
  margin-left: 9px;
}
.nabvar .navbar__auth {
  width: 13.52%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .nabvar .navbar__auth {
    width: 16.52%;
  }
}
@media (max-width: 767px) {
  .nabvar .navbar__auth {
    width: 23%;
  }
}
.nabvar .navbar__auth .login {
  text-decoration-line: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-style: normal;
  color: #686868;
}
.nabvar .navbar__auth .login:hover {
  color: #151515;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropdown-item .arrow-icon {
  transition: transform 0.3s ease;
}
.dropdown .dropdown-item .arrow-rotate {
  transform: rotate(180deg);
}
.dropdown .dropdown-content {
  width: 153px;
  height: 160px;
  margin-top: 20px;
  border-radius: 10px;
  right: 0;
  position: absolute;
  z-index: 1;
  background: #FFF;
  padding: 24px;
  display: none;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
}
.dropdown .dropdown-content .dropdown__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-style: normal;
  color: #686868;
}
.dropdown .dropdown-content .dropdown__link:hover {
  color: #151515;
}
.dropdown .dropdown-content .dropdown__link .dropdown__img {
  margin-right: 15px;
}
.dropdown .dropdown-content.dropdown-content--company {
  width: 116px;
  height: 128px;
  left: 0;
}
.dropdown .dropdown-content.dropdown-content--show {
  display: block;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.logo {
  width: 25%;
  display: flex;
  align-items: center;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: #FAFAFA;
}
.main .nabvar {
  margin-bottom: 46px;
}
.main .hero {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main .hero .hero__description {
  width: 37.5%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.main .hero .hero__description .hero__texts {
  margin-bottom: 118px;
}
.main .hero .hero__description .hero__texts .hero__title {
  width: 98.15%;
  margin-bottom: 48px;
  letter-spacing: -1.111px;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  font-style: normal;
  color: #151515;
}
.main .hero .hero__description .hero__texts .hero__paragraph {
  width: 88.33%;
  margin-bottom: 51px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  color: #686868;
}
.main .hero .hero__description .hero__icons {
  width: 88.52%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .hero .hero__img {
  width: 33.33%;
  /* height: 640px; */
  display: flex;
}
.main .hero .hero__img img {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
