* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
}

.button {
  width: 104px;
  height: 42px;
  padding: 13px 22px;
  border-radius: 15px;
  background-color: #FAFAFA;
  border: 1px solid #686868;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-style: normal;
  color: #686868;
}
.button:hover {
  border: 1.5px solid #151515;
}
.button:active {
  transform: scale(0.95);
}
@media (max-width: 767px) {
  .button {
    width: 195px;
    background: transparent;
  }
}
.button.button--black {
  width: 163px;
  height: 56px;
  background-color: #151515;
  color: #FAFAFA;
}
.button.button--black:hover {
  border: 1px solid #151515;
  background-color: transparent;
  color: #151515;
}

.open-menu {
  display: none;
  border: none;
  background: transparent;
}
@media (max-width: 767px) {
  .open-menu {
    display: block;
  }
}

.close-menu {
  display: none;
  border: none;
  background: transparent;
}
@media (max-width: 767px) {
  .close-menu {
    display: block;
    margin-bottom: 31.98px;
    padding: 0;
  }
  .close-menu svg {
    width: 24px;
    height: 24px;
  }
}

.nabvar {
  width: 100vw;
  height: auto;
  padding: 21px 40px 21px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .nabvar {
    margin-bottom: 24px;
    padding: 16px;
  }
}
.nabvar .navbar__routing {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nabvar .navbar__routing .navbar__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .nabvar .navbar__routing .navbar__items {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.75);
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: end;
  }
}
.nabvar .navbar__routing .navbar__items.navbar__items--visibility {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 767px) {
  .nabvar .navbar__routing .navbar__items.navbar__items--visibility {
    width: 240px;
    height: 100%;
    z-index: 1;
    position: fixed;
    overflow-x: hidden;
    background: #FFF;
    padding: 21.98px 20px 0 24px;
  }
}
.nabvar .navbar__routing .navbar__items .items {
  width: 39.85%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-style: normal;
  color: #686868;
}
@media (max-width: 1024px) {
  .nabvar .navbar__routing .navbar__items .items {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .nabvar .navbar__routing .navbar__items .items {
    width: 100%;
    padding: 0;
    font-size: 16px;
    margin-bottom: 32px;
    flex-direction: column;
    align-items: flex-start;
  }
  .nabvar .navbar__routing .navbar__items .items li:not(:last-child) {
    margin-bottom: 16px;
  }
}
.nabvar .navbar__routing .navbar__items .items .item {
  position: relative;
  cursor: pointer;
}
.nabvar .navbar__routing .navbar__items .items .item:hover {
  color: #151515;
}
@media (max-width: 767px) {
  .nabvar .navbar__routing .navbar__items .items .item {
    margin-bottom: 24px;
  }
}
.nabvar .navbar__routing .navbar__items .items .item img {
  margin-left: 9px;
}
.nabvar .navbar__auth {
  width: 19%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .nabvar .navbar__auth {
    width: 16.52%;
  }
}
@media (max-width: 1024px) {
  .nabvar .navbar__auth {
    width: 25%;
  }
}
@media (max-width: 767px) {
  .nabvar .navbar__auth {
    width: 100%;
    flex-direction: column;
  }
}
.nabvar .navbar__auth .login {
  text-decoration-line: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-style: normal;
  color: #686868;
}
.nabvar .navbar__auth .login:hover {
  color: #151515;
}
@media (max-width: 767px) {
  .nabvar .navbar__auth .login {
    margin-bottom: 16px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropdown-item .arrow-icon {
  transition: transform 0.3s ease;
}
.dropdown .dropdown-item .arrow-rotate {
  transform: rotate(180deg);
}
.dropdown .dropdown-content {
  width: 153px;
  height: 160px;
  padding: 24px;
  margin-top: 20px;
  border-radius: 10px;
  background: #FFF;
  position: absolute;
  right: 0;
  z-index: 1;
  display: none;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
}
@media (max-width: 767px) {
  .dropdown .dropdown-content {
    position: relative;
    padding: 0;
    margin-left: 23px;
    margin-bottom: 24px;
    box-shadow: none;
  }
}
.dropdown .dropdown-content .dropdown__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-style: normal;
  color: #686868;
}
.dropdown .dropdown-content .dropdown__link:hover {
  color: #151515;
}
@media (max-width: 767px) {
  .dropdown .dropdown-content .dropdown__link {
    font-size: 16px;
  }
}
.dropdown .dropdown-content .dropdown__link .dropdown__img {
  margin-right: 15px;
}
.dropdown .dropdown-content.dropdown-content--company {
  width: 116px;
  height: 128px;
  left: 0;
}
@media (max-width: 767px) {
  .dropdown .dropdown-content.dropdown-content--company {
    width: 100%;
    height: auto;
  }
}
.dropdown .dropdown-content.dropdown-content--show {
  display: block;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.logo {
  width: 15.35%;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .logo {
    width: 17%;
  }
}
@media (max-width: 767px) {
  .logo {
    width: 87px;
    height: 35px;
  }
  .logo .logo__img {
    width: 100%;
  }
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: #FAFAFA;
}
@media (max-width: 767px) {
  .main {
    height: auto;
  }
}
.main .nabvar {
  margin-bottom: 46px;
}
.main .hero {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 767px) {
  .main .hero {
    flex-direction: column;
    height: auto;
  }
}
.main .hero .hero__description {
  width: 37.5%;
  height: auto;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .main .hero .hero__description {
    width: 45%;
  }
}
@media (max-width: 1350px) {
  .main .hero .hero__description {
    width: 45%;
  }
}
@media (max-width: 767px) {
  .main .hero .hero__description {
    width: 100%;
    order: 2;
    align-items: center;
  }
}
.main .hero .hero__description .hero__texts {
  margin-bottom: 118px;
}
@media (max-width: 1200px) {
  .main .hero .hero__description .hero__texts {
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .main .hero .hero__description .hero__texts {
    width: 100%;
    padding: 0 16px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.main .hero .hero__description .hero__texts .hero__title {
  width: 98.15%;
  margin-bottom: 48px;
  letter-spacing: -1.111px;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  font-style: normal;
  color: #151515;
}
@media (max-width: 1200px) {
  .main .hero .hero__description .hero__texts .hero__title {
    font-size: 65px;
    line-height: 63px;
    margin-bottom: 43px;
  }
}
@media (max-width: 767px) {
  .main .hero .hero__description .hero__texts .hero__title {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
    letter-spacing: -0.5px;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    font-style: normal;
    color: #151515;
  }
}
.main .hero .hero__description .hero__texts .hero__paragraph {
  width: 88.33%;
  margin-bottom: 51px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  color: #686868;
}
@media (max-width: 1200px) {
  .main .hero .hero__description .hero__texts .hero__paragraph {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .main .hero .hero__description .hero__texts .hero__paragraph {
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-style: normal;
    color: #686868;
  }
}
.main .hero .hero__description .hero__icons {
  width: 88.52%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .main .hero .hero__description .hero__icons {
    width: 100%;
    padding: 0 16px;
    margin-bottom: 90px;
  }
  .main .hero .hero__description .hero__icons img {
    width: 81px;
    height: 26px;
  }
}
.main .hero .hero__img {
  width: 33.33%;
  height: 100%;
  display: flex;
}
@media (max-width: 1200px) {
  .main .hero .hero__img {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .main .hero .hero__img {
    width: 100%;
    margin-bottom: 47.75px;
  }
}
.main .hero .hero__img .img-desktop {
  display: block;
  width: 100%;
}
@media (max-width: 767px) {
  .main .hero .hero__img .img-desktop {
    display: none;
  }
}
.main .hero .hero__img .img-mobile {
  display: none;
}
@media (max-width: 767px) {
  .main .hero .hero__img .img-mobile {
    display: block;
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
