.button {
    width: 104px;
    height: 42px;
    padding: 13px 22px;
    border-radius: 15px;
    background-color: $almost-white;
    border: 1px solid #686868;
    cursor: pointer;
    transition: .3s ease;
    @include flex-group(flex, center, center);
    @include typography(14px, 400, 16px, normal, $medium-grey);

    &:hover {
        border: 1.5px solid $black;
    }

    &:active {
        transform: scale(0.95);
    }

    @include medium {
        width: 100px;
        height: 38px;
    }

    &.button--black {
        width: 163px;
        height: 56px;
        background-color: $black;
        color: $almost-white;

        &:hover {
            border: 1px solid $black;
            background-color: transparent;
            color: $black;
        }
    }
}