.dropdown {
    position: relative;
    display: inline-block;

    .dropdown-item {
        .arrow-icon {
            transition: transform 0.3s ease; //Para que la transicion sea suave
        }
        .arrow-rotate {
            transform: rotate(180deg); //rota la flecha 180grados
        }
    }

    .dropdown-content {
        width: 153px;
        height: 160px;
        padding: 24px;
        margin-top: 20px;
        border-radius: 10px;
        background: $white;
        position: absolute;
        right: 0;
        z-index: 1;
        display: none;
        box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
        
        @include medium{
            position: relative;
            padding: 0;
            margin-left: 23px;
            margin-bottom: 24px;
            box-shadow: none;
        }

        .dropdown__link {
            text-decoration: none;
            @include typography(14px, 400, 16px, normal, $medium-grey);

            &:hover {
                color: $black;
            }

            @include medium {
                font-size: 16px;
            }

            .dropdown__img {
                margin-right: 15px;
            }
        }

        &.dropdown-content--company {
            width: 116px;
            height: 128px;
            left: 0;

            @include medium {
                width: 100%;
                height: auto;
            }
        }

        &.dropdown-content--show {
            display: block;
            flex-direction: column;
            @include flex-group(flex, space-between, start);
        }
    }
}