/* .item__dropdown {
    width: 10.63%;
    height: auto;
    padding: 24px;
    top: 76px;
    position: absolute;
    left: 120px;
    background: $white;
    border-radius: 10px;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
    @include flex-group(flex, center, center);

    &.item__dropdown--company {
        width: 8.06%;
        left: 352px;
    }
    .dropdown__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        li:not(:last-child){
            margin-bottom: 16px;
        }
        li {
            img {
                margin-right: 15px;
            }
        }
    }
} */

/* 
<ul class="dropdown__list">
    <li><img src="./img/List.svg" alt="">Todo List</li>
    <li><img src="./img/calendar.svg" alt="">Calendar</li>
    <li><img src="./img/Bell.svg" alt="">Reminders</li>
    <li><img src="./img/planning.svg" alt="">Planning</li>
</ul>

<ul class="dropdown__list">
    <li>History</li>
    <li>Our Team</li>
    <li>Blog</li>
</ul>
*/


.dropdown {
    position: relative;
    display: inline-block;

    .dropdown-content {
        position: absolute;
        width: 153px;
        height: 160px;
        background-color: pink;
        z-index: 1;
        margin-top: 20px;
        right: 0;

        display: none;

        &.dropdown-content--show {
            display: block;
        }
    }
}


