.nabvar {
    width: 100vw;
    height: auto;
    padding: 21px 40px 21px 40px;
    @include flex-group(flex, space-between, center);

    .navbar__routing {
        width: 44%;
        @include flex-group(flex, space-between, center);

        @include xl-large {
            width: 60%;
        }

        .navbar__items {
            width: 75%;
            .items {
                width: 100%;
                list-style-type: none;
                @include flex-group(flex, space-between, center);
                @include typography(14px, 400, 16px, normal, $medium-grey);
                .item {
                    position: relative;
                    cursor: pointer;

                    &:hover {
                        color: $black;
                    }

                    img {
                        margin-left: 9px;
                    }
                }
            }
        
        }
    }


    .navbar__auth {
        width: 13.52%;
        @include flex-group(flex, space-between, center);

        @include xl-large {
            width: 16.52%;
        }
        @include medium {
            width: 23%;;
        }

        .login {
            text-decoration-line: none;
            @include typography(14px, 400, 16px, normal, $medium-grey);

            &:hover {
                color: $black;
            }

        }
    }
}

