.nabvar {
    width: 100vw;
    height: auto;
    padding: 21px 40px 21px 40px;
    @include flex-group(flex, space-between, center);

    @include medium {
        margin-bottom: 24px;
        padding: 16px;
    }

    .navbar__routing {
        width: 100%;
        @include flex-group(flex, space-between, center);

        .navbar__items {
            width: 100%;
            display: flex;
            justify-content: space-between;
            @include medium {
                /* width: 43%; */
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.75);
                flex-direction: column;
                @include flex-group(flex, flex-start, end);
            }
            &.navbar__items--visibility {
                opacity: 1;
                visibility: visible;
                @include medium {
                    width: 240px;
                    background: $white;
                    padding: 21.98px 20px 0 24px;
                }
            }
            .items {
                width: 39.85%;
                list-style-type: none;
                @include flex-group(flex, space-between, center);
                @include typography(14px, 400, 16px, normal, $medium-grey);

                @include m-large {
                    width: 50%;
                }

                @include medium {
                    width: 100%;
                    padding: 0;
                    font-size: 16px;
                    margin-bottom: 32px;
                    flex-direction: column;
                    align-items: flex-start;

                    li:not(:last-child){
                        margin-bottom: 16px;
                    }
                }
                .item {
                    position: relative;
                    cursor: pointer;

                    &:hover {
                        color: $black;
                    }

                    @include medium {
                        margin-bottom: 24px;
                    }

                    img {
                        margin-left: 9px;
                    }
                }
            }
        
        }
    }


    .navbar__auth {
        width: 19%;
        @include flex-group(flex, space-between, center);

        @include xl-large {
            width: 16.52%;
        }

        @include m-large {
            width: 25%;
        }

        @include medium {
            width: 100%;
            flex-direction: column;
        }

        .login {
            text-decoration-line: none;
            @include typography(14px, 400, 16px, normal, $medium-grey);

            &:hover {
                color: $black;
            }

            @include medium {
                margin-bottom: 16px;
            }

        }
    }
}